<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Sample Web App</display-name>

	<context-param>
		<param-name>embeddedBPMServer</param-name>
		<param-value>../bonita_embedded_engine/server</param-value>
	</context-param>
	<context-param>
		<param-name>embeddedBPMSetup</param-name>
		<param-value>../bonita_embedded_engine/setup</param-value>
	</context-param>
	<context-param>
		<param-name>embeddedBPMContext</param-name>
		<param-value>../bonita_embedded_engine/embeddedBPM-context.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>org.bonitasoft.web.app.MainServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.bonitasoft.web.app.EmbeddedBPMListener</listener-class>
	</listener>
</web-app>
